/*----------------Media Query------------*/
@media screen and (min-width: 320px) and (max-width: 450px) {
    .form {
        width: 60%;
        min-width: 295px;

    }
  .sobnos {
    display: none;
  }
  .drops-sb {
    display: none;
  }
}

@media screen and (min-width: 451px) and (max-width: 765px) {
    .form {
        width: 60%;
        min-width: 400px;
    }

  .sobnos {
    display: none;
  }
  .drops-sb {
    display: none;
  }
}
@media screen and (min-width: 766px ){
    .form {
        width: 80%;
        min-width: 500px;
        max-width: 800px;
    }
}